*:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.body-main {
  background-color: #000;
}

.h4 {
  font-size: 15px;
  color: black;
}

.snippet {
  background-color:black;
  color:white;
  width: 500px;
  height: 40px;
  border: 2px red;
  padding: 10px;
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  visibility: hidden;
}

.title-container {
  position: absolute;
  width: 25em;
  left: 2em;
  bottom: 2em;
}
.title-container-up {
  position: absolute;
  width: 30em;
  right: 5em;
  top: 2em;
  
}

.details-container {
  position: absolute;
  width: auto;
  height: auto;
  right: 2em;
  bottom: 2em;
}

@media all and (max-width: 605px) {
  .details-container {
    position: absolute;
    width: auto;
    height: 8em;
    top: 1em;
  }
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  font-style: normal;
  color: #fff;
}

.description, .link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  font-style: normal;
  color: #ccc;
}

.description a:hover, .link a:hover {
  text-decoration: none;
}

.btn-main {
  background-color: #ADD8E6;
  color: #000;
  border: none;
  cursor: pointer;
}

.btn-main:hover {
  background-color: #8aacb8;
}

.btn-main:active {
  background-color: #67818a;
}

.main-canvas {
  width: 100%;
  height: 100%;
}

.select-algo {
  margin-bottom: 1em;
  border: none;
  color: #000;
  width: 15em;
  cursor: pointer;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarr {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbarr.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#slider-1{
  margin-left: 20px;
  margin-right: 20px;
  /* float:right;  */
 }


 .round {
  position: relative;
  width: 30px;
  margin: 5 auto;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}














/* general styling */
/* html, body {
  height: 100%;
  margin: 0;
} */

/* body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} */

.container {
  margin: 5 auto;
  width: 30px;
  padding: 0;
}